/* llamado al archivo style.css */
@import url("style.css");

.publicidad--fondo {
    background-color: var(--verde);
    padding: 0.3rem 0;
}

.publicidad--texto {
    text-align: center;
    color: var(--blanco);
    font-size: 1rem;
}