.fondo-recordatorio{
    background-color: var(--rosaClaro);
}

.titulo--planta{
    text-align: center;
}
.text--planta{
    margin-top: 0;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 10rem;

    width: fit-content; /*ajusta al ancho de la banda*/
    margin: 0 auto; /* Centra en la página */
}
.planta--img{
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
}
.planta--text{
    text-align: center;
}
.planta--text span{
    display: block;
}
