:root {
    /*Colores*/
    --verde: #767643;
    --rosaOscuro: #efb681;
    --rosaClaro: #f2d9bb;
    --blanco: #ffffff;
    --negro: #000000;
    --plomo: rgba(35, 31, 32, 0.2);
    /*fuentes*/
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem es 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

